*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

p{
    color:#CDC6AE;
}

.circle1{
    background-color: #38686A;
    border: 3px solid #A3B4A2;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    height: 200px;
    width: 200px;
}

.roundedrect1{
    background-color:#187795;
    border: 3px solid #A3B4A2;
    padding: 10px;
    width: 300px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.shadowrect1{
    background-color: #38686A;
    border: 3px solid #A3B4A2;
    padding: 10px;
    width: 300px;
    box-shadow: 8px 9px 5px #A3B4A2;
}