@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin : 0;
    padding : 0;
    color: aliceblue;
}

#bg-video {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: aliceblue;
}

.form-control {
    width: 600px; /* Mengatur lebar input */
    height: 38px; /* Mengatur tinggi input */
    font-size: 12px; /* Mengatur ukuran font */
    border-color: #1E1F22; /* Mengatur warna border */
    text-align: center;
}
.form-control::placeholder {
    text-align: center;
}
.form-floating {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-control.oval-input {
    border: none;
    border-radius: 50px;
    background-color: #f8f9fa;
    padding: 12px 20px;
    font-size: 16px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    flex-grow: 1;
}

.custom-button {
    border: 2px solid white !important;
    height: 45px !important;
    width: 220px !important;
    text-align: center;
    font-size: 15px;
}

/* Mengatur tata letak (layout) untuk elemen dengan kelas .btn-block */
.btn-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

